In [0]:
import pandas as pd

In [0]:
from pyspark.sql.functions import col

#clientes = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/tables/clientes_csv.gz")
#clientes = clientes.select(col("COD_ID_CLIENTE"), col("DAT_DATA_NASCIMENTO"))
clientes_df = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/tables/clientes_csv.gz")
clientes_df = clientes_df.dropna()
clientes_df.show(truncate=False)

#clientes_df.printSchema()

+---------------------------------------------------------------------------------------+
|"COD_ID_CLIENTE";"DES_TIPO_CLIENTE";"NOM_NOME";"DES_SEXO_CLIENTE";"DAT_DATA_NASCIMENTO"|
+---------------------------------------------------------------------------------------+
|"1";"J";"COMERCIAL KAREN MATHIS";"";""                                                 |
|"2";"J";"COMERCIAL MICHAEL MORGAN";"";""                                               |
|"3";"J";"COMERCIAL ERICA LINDSEY";"";""                                                |
|"5";"J";"COMERCIAL KENNETH SHAW";"";""                                                 |
|"9";"J";"COMERCIAL JEREMY WILLIAMS";"";""                                              |
|"10";"J";"COMERCIAL JAMES BARBER";"";""                                                |
|"12";"J";"COMERCIAL THERESA DELEON";"";""                                              |
|"15";"J";"COMERCIAL KAYLA REID";"";""                                                  |
|"16";"J";"COMERCIAL STEPHEN BATES";"";""                                               |
|"17";"J";"COMERCIAL ROBERT MORRIS";"";""                                               |
|"18";"J";"COMERCIAL MONICA GREEN";"";""                                                |
|"19";"J";"COMERCIAL JENNIFER SHARP";"";""                                              |
|"50";"J";"COMERCIAL MR. BRIAN LANE DDS";"";""                                          |
|"60";"J";"COMERCIAL ASHLEY CHANDLER";"";""                                             |
|"80";"J";"COMERCIAL MIGUEL ALI";"";""                                                  |
|"100";"J";"COMERCIAL MATTHEW MCDANIEL";"";""                                           |
|"101";"J";"ASTORIA KATHERINE HENDERSON";"";""                                          |
|"102";"F";"JHONATAN JOSHUA JAMES";"";""                                                |
|"104";"J";"LIMPPANO WILLIAM KRUEGER";"";""                                             |
|"106";"F";"JOAO JAMES STUART";"M";""                                                   |
+---------------------------------------------------------------------------------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import regexp_replace

# Carrega o arquivo csv.gz para um DataFrame
clientes_df = spark.read.option("header", "true").option("delimiter", ";").csv("dbfs:/FileStore/tables/clientes_csv.gz")

# Remove as aspas duplas dos valores da coluna COD_ID_CLIENTE
clientes_df = clientes_df.withColumn("COD_ID_CLIENTE", regexp_replace("COD_ID_CLIENTE", '"', ""))

# Remove as aspas duplas dos valores da coluna DES_TIPO_CLIENTE
clientes_df = clientes_df.withColumn("DES_TIPO_CLIENTE", regexp_replace("DES_TIPO_CLIENTE", '"', ""))

# Remove as aspas duplas dos valores da coluna NOM_NOME
clientes_df = clientes_df.withColumn("NOM_NOME", regexp_replace("NOM_NOME", '"', ""))

# Remove as aspas duplas dos valores da coluna DES_SEXO_CLIENTE
clientes_df = clientes_df.withColumn("DES_SEXO_CLIENTE", regexp_replace("DES_SEXO_CLIENTE", '"', ""))

# Remove as aspas duplas dos valores da coluna DAT_DATA_NASCIMENTO
clientes_df = clientes_df.withColumn("DAT_DATA_NASCIMENTO", regexp_replace("DAT_DATA_NASCIMENTO", '"', ""))


# Remove as linhas que contém valores nulos
clientes_df = clientes_df.na.drop()




# Remove as linhas que contém valores nulos
clientes_df = clientes_df.dropna()
clientes_df.show(truncate=False)

+--------------+----------------+------------------------+----------------+-------------------+
|COD_ID_CLIENTE|DES_TIPO_CLIENTE|NOM_NOME                |DES_SEXO_CLIENTE|DAT_DATA_NASCIMENTO|
+--------------+----------------+------------------------+----------------+-------------------+
|131           |F               |ALTAMIR JORDAN SIMMONS  |M               |1974-08-09         |
|193           |F               |ADRIANO KENDRA JOHNSON  |M               |1979-09-04         |
|248           |F               |JOSE CARRIE CUNNINGHAM  |M               |1962-01-26         |
|275           |F               |GUSTAVO JENNIFER HIGGINS|M               |1979-04-14         |
|407           |F               |DANILO CHRISTINE DIXON  |M               |1951-11-05         |
|417           |F               |JOSE SHARON HERRERA     |M               |1971-10-28         |
|336           |F               |MARIA DENISE RODGERS    |F               |1971-09-10         |
|420           |F               |MARCI TARA JOHNSON      |F               |1971-06-27         |
|421           |F               |MARCIO ADAM RAMIREZ     |M               |1979-07-31         |
|424           |F               |PAULO NICOLE HOWELL     |M               |1965-12-16         |
|425           |F               |PEDRO NICHOLAS BEAN     |M               |1950-02-06         |
|426           |F               |PEDRO CRYSTAL MARTINEZ  |M               |1968-11-05         |
|427           |F               |RODRIGO CHRISTINA GLENN |M               |1982-08-06         |
|454           |F               |TEONISIA PATRICK EVANS  |F               |1960-02-14         |
|509           |F               |SERGIO ANDREW RICE      |M               |1964-08-30         |
|560           |F               |RODRIGO MICHELLE MOORE  |M               |1976-10-26         |
|843           |F               |LUIZ ANDRE GILLESPIE    |M               |1984-04-11         |
|964           |F               |DOUGLAS BRIANNA THOMAS  |M               |1986-06-05         |
|1087          |F               |DIEGO WENDY HOBBS       |M               |1985-05-18         |
|1092          |F               |RONALDO JEREMIAH GUZMAN |M               |1980-11-14         |
+--------------+----------------+------------------------+----------------+-------------------+
only showing top 20 rows

In [0]:
categoriasprodutos_df = spark.read.format("csv").option("header", "true").load("/FileStore/tables/categorias_produtos_csv.gz")
categoriasprodutos_df = clientes_df.dropna()
categoriasprodutos_df.show(truncate=False)

+--------------+----------------+------------------------+----------------+-------------------+
|COD_ID_CLIENTE|DES_TIPO_CLIENTE|NOM_NOME                |DES_SEXO_CLIENTE|DAT_DATA_NASCIMENTO|
+--------------+----------------+------------------------+----------------+-------------------+
|131           |F               |ALTAMIR JORDAN SIMMONS  |M               |1974-08-09         |
|193           |F               |ADRIANO KENDRA JOHNSON  |M               |1979-09-04         |
|248           |F               |JOSE CARRIE CUNNINGHAM  |M               |1962-01-26         |
|275           |F               |GUSTAVO JENNIFER HIGGINS|M               |1979-04-14         |
|407           |F               |DANILO CHRISTINE DIXON  |M               |1951-11-05         |
|417           |F               |JOSE SHARON HERRERA     |M               |1971-10-28         |
|336           |F               |MARIA DENISE RODGERS    |F               |1971-09-10         |
|420           |F               |MARCI TARA JOHNSON      |F               |1971-06-27         |
|421           |F               |MARCIO ADAM RAMIREZ     |M               |1979-07-31         |
|424           |F               |PAULO NICOLE HOWELL     |M               |1965-12-16         |
|425           |F               |PEDRO NICHOLAS BEAN     |M               |1950-02-06         |
|426           |F               |PEDRO CRYSTAL MARTINEZ  |M               |1968-11-05         |
|427           |F               |RODRIGO CHRISTINA GLENN |M               |1982-08-06         |
|454           |F               |TEONISIA PATRICK EVANS  |F               |1960-02-14         |
|509           |F               |SERGIO ANDREW RICE      |M               |1964-08-30         |
|560           |F               |RODRIGO MICHELLE MOORE  |M               |1976-10-26         |
|843           |F               |LUIZ ANDRE GILLESPIE    |M               |1984-04-11         |
|964           |F               |DOUGLAS BRIANNA THOMAS  |M               |1986-06-05         |
|1087          |F               |DIEGO WENDY HOBBS       |M               |1985-05-18         |
|1092          |F               |RONALDO JEREMIAH GUZMAN |M               |1980-11-14         |
+--------------+----------------+------------------------+----------------+-------------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import regexp_replace

#produtos_df = clientes_df.dropna()


# Carrega o arquivo csv.gz para um DataFrame
produtos_df = spark.read.option("header", "true").option("delimiter", ";").csv("dbfs:/FileStore/tables/produtos_csv.gz")

# Remove as aspas duplas dos valores da coluna COD_ID_CATEGORIA_PRODUTO
produtos_df = produtos_df.withColumn("COD_ID_CATEGORIA_PRODUTO", regexp_replace("COD_ID_CATEGORIA_PRODUTO", '"', ""))

# Remove as aspas duplas dos valores da coluna ARR_CATEGORIAS_PRODUTO
produtos_df = produtos_df.withColumn("ARR_CATEGORIAS_PRODUTO", regexp_replace("ARR_CATEGORIAS_PRODUTO", '"', ""))

# Remove as aspas duplas dos valores da coluna DES_PRODUTO
produtos_df = produtos_df.withColumn("DES_PRODUTO", regexp_replace("DES_PRODUTO", '"', ""))

# Remove as aspas duplas dos valores da coluna DES_UNIDADE
produtos_df = produtos_df.withColumn("DES_UNIDADE", regexp_replace("DES_UNIDADE", '"', ""))

# Remove as aspas duplas dos valores da coluna COD_CODIGO_BARRAS
produtos_df = produtos_df.withColumn("COD_CODIGO_BARRAS", regexp_replace("COD_CODIGO_BARRAS", '"', ""))

# Remove a linha de cabeçalho
#produtos_df = produtos_df.drop(0)

# Remove as linhas que contém valores nulos
produtos_df = produtos_df.dropna()

produtos_df.show(truncate=False)

+--------------+------------------------+----------------------------------------+----------------------------------+-----------+-----------------+
|COD_ID_PRODUTO|COD_ID_CATEGORIA_PRODUTO|ARR_CATEGORIAS_PRODUTO                  |DES_PRODUTO                       |DES_UNIDADE|COD_CODIGO_BARRAS|
+--------------+------------------------+----------------------------------------+----------------------------------+-----------+-----------------+
|21            |10652                   |['10639','9985','10620','10240','10652']|TALCO TRA LA LA 160G SUAVE BABY   |UN         |7896115700392    |
|41            |9362                    |['9335','9234','9361','9355','9362']    |ABACATE FORTUNA KG                |KG         |3018             |
|42            |9362                    |['9335','9234','9361','9355','9362']    |ABACATE AVOCADO KG                |KG         |76845            |
|43            |9363                    |['9335','9234','9361','9355','9363']    |ABACAXI CAIANO UN                 |UN         |2100302          |
|44            |9363                    |['9335','9234','9361','9355','9363']    |ABACAXI PEROLA UNID.              |UN         |35758884         |
|49            |9400                    |['9335','9397','9234','9398','9400']    |ABOBRINHA COMPRIDA ITALIA KG      |KG         |3445             |
|53            |9353                    |['9346','9343','9335','9234','9353']    |AGRIAO HIDROPONICA NATURALHIDRO UN|UN         |7898930624075    |
|63            |9354                    |['9346','9343','9335','9234','9354']    |ALHO PORO UN                      |UN         |534307           |
|64            |9338                    |['9336','9335','9234','9337','9338']    |ALHO SOLTO KG                     |KG         |9812             |
|65            |9380                    |['9335','9234','9355','9376','9380']    |AMEIXA IMPORTADA KG               |KG         |3919             |
|70            |9364                    |['9335','9234','9361','9355','9364']    |BANANA CATURRA KG                 |KG         |3049             |
|72            |9364                    |['9335','9234','9361','9355','9364']    |BANANA PRATA KG                   |KG         |3056             |
|73            |9418                    |['9417','9335','9397','9234','9418']    |BATATA BRANCA KG                  |KG         |7993             |
|76            |9418                    |['9417','9335','9397','9234','9418']    |BATATA DOCE BRANCA KG             |KG         |3520             |
|77            |9418                    |['9417','9335','9397','9234','9418']    |BATATA DOCE ROXA KG               |KG         |2448             |
|78            |9418                    |['9417','9335','9397','9234','9418']    |BATATA ROSA KG                    |KG         |3544             |
|80            |9357                    |['9335','9234','9356','9355','9357']    |BERGAMOTA MONTENEGRINA (CAI) KG   |KG         |3063             |
|82            |9401                    |['9335','9397','9234','9398','9401']    |BERINJELA COMUM KG                |KG         |3551             |
|85            |10950                   |['9335','9397','9234','9398','10950']   |BETERRABA KG                      |KG         |3568             |
|88            |9353                    |['9346','9343','9335','9234','9353']    |BROCOLIS UN                       |UN         |711616           |
+--------------+------------------------+----------------------------------------+----------------------------------+-----------+-----------------+
only showing top 20 rows

In [0]:

#vendas_df = clientes_df.dropna()
#vendas_df.show(truncate=False)
from pyspark.sql.functions import regexp_replace
import pandas as pd

#vendas_df = pd.read_csv("dbfs:/FileStore/tables/vendas*_csv.gz", sep=";", quotechar='"')


#produtos_df = clientes_df.dropna()


# Carrega o arquivo csv.gz para um DataFrame
vendas_df = spark.read.option("header", "true").option("delimiter", ";").csv("dbfs:/FileStore/tables/vendas*.csv.gz")

# Remove as aspas duplas dos valores da coluna COD_ID_CATEGORIA_PRODUTO
vendas_df = produtos_df.withColumn("COD_ID_LOJA", regexp_replace("COD_ID_LOJA", '"', ""))

# Remove as aspas duplas dos valores da coluna ARR_CATEGORIAS_PRODUTO
vendas_df = produtos_df.withColumn("NUM_ANOMESDIA", regexp_replace("NUM_ANOMESDIA", '"', ""))

# Remove as aspas duplas dos valores da coluna DES_PRODUTO
vendas_df = produtos_df.withColumn("DES_TIPO_CLIENTE", regexp_replace("DES_TIPO_CLIENTE", '"', ""))

# Remove as aspas duplas dos valores da coluna DES_UNIDADE
vendas_df = produtos_df.withColumn("DES_SEXO_CLIENTE", regexp_replace("DES_SEXO_CLIENTE", '"', ""))

# Remove as aspas duplas dos valores da coluna COD_CODIGO_BARRAS
vendas_df = produtos_df.withColumn("COD_ID_VENDA_UNICO", regexp_replace("COD_ID_VENDA_UNICO", '"', ""))

  # Remove as aspas duplas dos valores da coluna COD_CODIGO_BARRAS
vendas_df = produtos_df.withColumn("COD_ID_VENDA_UNICO", regexp_replace("COD_ID_VENDA_UNICO", '"', "")) 
 
 # Remove as aspas duplas dos valores da coluna COD_CODIGO_BARRAS
vendas_df = produtos_df.withColumn("COD_ID_PRODUTO", regexp_replace("COD_ID_PRODUTO", '"', ""))

# Remove as aspas duplas dos valores da coluna COD_CODIGO_BARRAS
vendas_df = produtos_df.withColumn("VAL_VALOR_DESCONTO", regexp_replace("VAL_VALOR_DESCONTO", '"', ""))

 # Remove as aspas duplas dos valores da coluna COD_CODIGO_BARRAS
vendas_df = produtos_df.withColumn("VAL_VALOR_SEM_DESC", regexp_replace("VAL_VALOR_SEM_DESC", '"', ""))
                                   
 # Remove as aspas duplas dos valores da coluna COD_CODIGO_BARRAS
vendas_df = produtos_df.withColumn("VAL_VALOR_COM_DESC", regexp_replace("VAL_VALOR_COM_DESC", '"', ""))                                 
 
 # Remove as aspas duplas dos valores da coluna COD_CODIGO_BARRAS
vendas_df = produtos_df.withColumn("VAL_QUANTIDADE_KG", regexp_replace("VAL_QUANTIDADE_KG", '"', ""))                                  

                                   # Remove a linha de cabeçalho
#produtos_df = produtos_df.drop(0)

# Remove as linhas que contém valores nulos
vendas_df = vendas_df.dropna()

vendas_df.show(truncate=False)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
<command-3274478127227177> in <cell line: 17>()
     15
     16 # Remove as aspas duplas dos valores da coluna COD_ID_CATEGORIA_PRODUTO
---> 17 vendas_df = produtos_df.withColumn("COD_ID_LOJA", regexp_replace("COD_ID_LOJA", '"', ""))
     18
     19 # Remove as aspas duplas dos valores da coluna ARR_CATEGORIAS_PRODUTO

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     46             start = time.perf_counter()
     47             try:
---> 48                 res = func(*args, **kwargs)
     49                 logger.log_success(
     50                     module_name, class_name, function_name, time.perf_counter() - start, signature

/databricks/spark/python/pyspark/sql/dataframe.py in withColumn(self, colName, col)
   3325         if not isinstance(col, Column):
   3326             raise TypeError("col should be Column")
-> 3327         return DataFrame(self._jdf.withColumn(colName, col._jc), self.sparkSession)
   3328
   3329     def withColumnRenamed(self, existing: str, new: str) -> "DataFrame":

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1319
   1320         answer = self.gateway_client.send_command(command)
-> 1321         return_value = get_return_value(
   1322             answer, self.gateway_client, self.target_id, self.name)
   1323

/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
    200                 # Hide where the exception came from that shows a non-Pythonic
    201                 # JVM exception message.
--> 202                 raise converted from None
    203             else:
    204                 raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `COD_ID_LOJA` cannot be resolved. Did you mean one of the following? [`COD_ID_PRODUTO`, `COD_CODIGO_BARRAS`, `DES_PRODUTO`, `DES_UNIDADE`, `COD_ID_CATEGORIA_PRODUTO`];
'Project [COD_ID_PRODUTO#216, COD_ID_CATEGORIA_PRODUTO#228, ARR_CATEGORIAS_PRODUTO#236, DES_PRODUTO#243, DES_UNIDADE#250, COD_CODIGO_BARRAS#257, regexp_replace('COD_ID_LOJA, ", , 1) AS COD_ID_LOJA#618]
+- Filter atleastnnonnulls(6, COD_ID_PRODUTO#216, COD_ID_CATEGORIA_PRODUTO#228, ARR_CATEGORIAS_PRODUTO#236, DES_PRODUTO#243, DES_UNIDADE#250, COD_CODIGO_BARRAS#257)
   +- Project [COD_ID_PRODUTO#216, COD_ID_CATEGORIA_PRODUTO#228, ARR_CATEGORIAS_PRODUTO#236, DES_PRODUTO#243, DES_UNIDADE#250, regexp_replace(COD_CODIGO_BARRAS#221, ", , 1) AS COD_CODIGO_BARRAS#257]
      +- Project [COD_ID_PRODUTO#216, COD_ID_CATEGORIA_PRODUTO#228, ARR_CATEGORIAS_PRODUTO#236, DES_PRODUTO#243, regexp_replace(DES_UNIDADE#220, ", , 1) AS DES_UNIDADE#250, COD_CODIGO_BARRAS#221]
         +- Project [COD_ID_PRODUTO#216, COD_ID_CATEGORIA_PRODUTO#228, ARR_CATEGORIAS_PRODUTO#236, regexp_replace(DES_PRODUTO#219, ", , 1) AS DES_PRODUTO#243, DES_UNIDADE#220, COD_CODIGO_BARRAS#221]
            +- Project [COD_ID_PRODUTO#216, COD_ID_CATEGORIA_PRODUTO#228, regexp_replace(ARR_CATEGORIAS_PRODUTO#218, ", , 1) AS ARR_CATEGORIAS_PRODUTO#236, DES_PRODUTO#219, DES_UNIDADE#220, COD_CODIGO_BARRAS#221]
               +- Project [COD_ID_PRODUTO#216, regexp_replace(COD_ID_CATEGORIA_PRODUTO#217, ", , 1) AS COD_ID_CATEGORIA_PRODUTO#228, ARR_CATEGORIAS_PRODUTO#218, DES_PRODUTO#219, DES_UNIDADE#220, COD_CODIGO_BARRAS#221]
                  +- Relation [COD_ID_PRODUTO#216,COD_ID_CATEGORIA_PRODUTO#217,ARR_CATEGORIAS_PRODUTO#218,DES_PRODUTO#219,DES_UNIDADE#220,COD_CODIGO_BARRAS#221] csv